@model StudentSystemWeb.Models.IssizlikOrani

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>IssizlikOrani</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Toplam1" class="control-label"></label>
                <input asp-for="Toplam1" class="form-control" />
                <span asp-validation-for="Toplam1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Toplam2" class="control-label"></label>
                <input asp-for="Toplam2" class="form-control" />
                <span asp-validation-for="Toplam2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Erkek1" class="control-label"></label>
                <input asp-for="Erkek1" class="form-control" />
                <span asp-validation-for="Erkek1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Erkek2" class="control-label"></label>
                <input asp-for="Erkek2" class="form-control" />
                <span asp-validation-for="Erkek2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kadın1" class="control-label"></label>
                <input asp-for="Kadın1" class="form-control" />
                <span asp-validation-for="Kadın1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kadın2" class="control-label"></label>
                <input asp-for="Kadın2" class="form-control" />
                <span asp-validation-for="Kadın2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToplamOran1" class="control-label"></label>
                <input asp-for="ToplamOran1" class="form-control" />
                <span asp-validation-for="ToplamOran1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToplamOran2" class="control-label"></label>
                <input asp-for="ToplamOran2" class="form-control" />
                <span asp-validation-for="ToplamOran2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ErkekOran1" class="control-label"></label>
                <input asp-for="ErkekOran1" class="form-control" />
                <span asp-validation-for="ErkekOran1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ErkekOran2" class="control-label"></label>
                <input asp-for="ErkekOran2" class="form-control" />
                <span asp-validation-for="ErkekOran2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KadınOran1" class="control-label"></label>
                <input asp-for="KadınOran1" class="form-control" />
                <span asp-validation-for="KadınOran1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KadınOran2" class="control-label"></label>
                <input asp-for="KadınOran2" class="form-control" />
                <span asp-validation-for="KadınOran2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aciklama" class="control-label"></label>
                <input asp-for="Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
